<meta charset="utf-8">

<title>{{siteTitle}}</title>

<!-- Link local style sheets -->
<link rel="stylesheet" href="/styles/vars.css">
<link rel="stylesheet" href="/styles/general-style.css">
<link rel="stylesheet" href="/styles/header-style.css">
<link rel="stylesheet" href="/styles/modal-style.css">
<link rel="stylesheet" href="/styles/snake-style.css">

<!-- Link remote font style sheets -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100">
<link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700&display=swap"
    rel="stylesheet">

<!-- Import the jquery script file -->
<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>

{{!-- Get theming script --}}
<script defer src="/scripts/styling/theming.js"></script>