<header id="header">
  <div id="headerBG"></div>

  <nav class="navbar">
    <ul class="navbar-nav">
      <h1 class="site-title left"><a href="/home">Nick Olson</a></h1>

      <div class="header-image-container">
        <img src="{{siteLogoSource}}" alt="Logo">
        {{!-- <h1 class="site-title right">Olson</h1> --}}
        {{!-- <h1 class="site-title"><a href="#">siteTitle</a></h1> --}}
      </div>
      {{!-- <div class="nav-spacer wide"></div> --}}

      <li class="nav-item right"><a href="/home">Home</a></li>
      <li class="nav-item right"><a href="/games">Games</a></li>

      {{!-- <li class="nav-item has-dropdown right"> --}}
      <li class="nav-item has-dropdown dont-use-dropdown right">
        <a id="dark" href="#">Theme</a>

        <ul class="dropdown">
          <li class="dropdown-item">
            <a id="dark" href="#">darken</a>
          </li>
          <li class="dropdown-item">
            <a id="solar" href="#">solarize</a>
          </li>
        </ul>
      </li>
      {{!-- <li class="nav-item"><a href="/About">404</a></li> --}}
    </ul>
  </nav>

  <script defer>
    $('.nav-item a').each(function () {
      if ($(this).text() === '{{siteTitle}}')
        $(this).parent().addClass('current-page');
    });
  </script>
</header>