<script src="/scripts/styling/initmessage.js"></script>

<div id="init-message-modal" class="hidden modal-backdrop">
    <div class="modal-container">
      <div class="modal-header">
          <p id="init-message-modal-text">{{initMessage}}</p>
      </div>

      <div class="modal-body">
          <button type="button" class="modal-accept-button" id="init-message-modal-close-button">Okay</button>
      </div>
    </div>
</div>
