<div class="collapsible-container up-down" id="game-container">

  <div class="collapse-button-background" id="game-collapse-button-background">
    <span class="collapse-button chevron chevron-top" id="game-collapse-button"></span>
  </div>

  <div class="collapse-content-background hidden" id="game-background">
    <canvas id="game-canvas" width="300" height="300"></canvas>
    <div id="game-banner">
        <p id="game-score"></p>
        <button id="game-pause-button" class="game-banner-button">Play</button>
        <button id="give-up-button" class="game-banner-button">Die</button>
    </div>
    <h1 id="game-info-label">PAUSED</h1>
  </div>

  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script type="text/javascript" src="/scripts/snake/fruit.js"></script>
  <script type="text/javascript" src="/scripts/snake/snake.js"></script>
  <script type="text/javascript" src="/scripts/snake/draw.js"></script>
  <script type="text/javascript" src="/scripts/styling/collapsing.js"></script>

</div>
