/* Get Variables */
@import 'vars.css';

header {
    position: relative;
    top: 0;
    left: 0;

    /* width: 100%; */
    /* height: 100%; */

    padding: 0 1em 3.5em 1em;
    height: 8em;
    margin: 0;

    text-align: center;

    /* padding-bottom: 3.5em; */
}

header.easeBG {
    transition: background 1000ms ease-in-out, color 2000ms ease-in-out;
}

#headerBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0); */
    /* pentagon */
    clip-path: url("/styles/header-clips.svg#headerBGClip");
    -webkit-clip-path: url("/styles/header-clips.svg#headerBGClip");
    clip-path: polygon(50% 0%, 100% 0, 100% 70px, 80% 70px, 50% 100%, 20% 70px, 0 70px, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 70px, 80% 70px, 50% 100%, 20% 70px, 0 70px, 0 0);
    /* heptagon */

    background: var(--bg-nav);
    /* margin-bottom: 1em; */

}

/* svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

.navbar {
    position: absolute;
    top: 0;
    right: 0;

    height: 80px;
    width: 100%;
    color: var(--text);
    background: var(--bg-nav);

    /* border: 1px solid rgba(27, 31, 35, .15); */
    /* background-clip: padding-box; */
    /* box-shadow: 0 1px 15px rgba(27, 31, 35, .1); */
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    /* align-items: space-evenly; */
    justify-content: flex-end;
    height: 100%;
}

.nav-item {
    height: 100%;
    width: 5rem;
    /* background-color: blue; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-items: center; */
}

.nav-spacer {
    flex-grow: 1;
}

.nav-spacer.medium {
    flex-grow: 2;
}

.nav-spacer.wide {
    flex-grow: 3;
}

.nav-item.right {
    /* margin-left: 1em; */
    margin-right: .25em;
}

.nav-item:last-of-type {
    /* margin-left: 1em; */
    /* margin-right: 1.5rem; */
    margin-right: 1rem;
}

.nav-item a {
    /* margin-top: 50%; */
    /* transform: translateY(-50%); */
    cursor: pointer;
    /* padding-top: 40%;
    padding-bottom: 40%; */
    display: flex;
    align-items: center;
    /* align-items: center; */
    /* justify-items: center; */
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 100%;

    /* font-weight: bold; */

    justify-content: center;

    /* height: auto; */

}

/* .nav-item > a:hover, .nav-item.current-page > a { */
.nav-item>a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .1);
    color: white;

    clip-path: url("/styles/header-clips.svg#headerNavItemClip");
    -webkit-clip-path: url("/styles/header-clips.svg#headerNavItemClip");
    clip-path: polygon(50% 0%, 95% 0, 100% 65%, 50% 95%, 0 65%, 5% 0);
    -webkit-clip-path: polygon(50% 0%, 95% 0, 100% 65%, 50% 95%, 0 65%, 5% 0);
}

.nav-item.has-dropdown.dont-use-dropdown>.dropdown {
    display: none;
}

.nav-item.has-dropdown>.dropdown {
    position: absolute;
    width: 110px;
    opacity: 0;
    z-index: 3;

    top: 0;

    background: var(--bg-dropdown);
    border-top: 1px solid rgba(0, 0, 0, .1);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: baseline;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-items: space-evenly; */
    /* height: 2rem; */
    /* margin-top: .5rem; */
    padding: .5rem;
    padding-bottom: 2rem;

    /* position: fixed; */

    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-20%);
    /*, 20%);*/
    /*80%);*/
    /*64%);*/

    transition: opacity .15s ease-out;

    list-style: none;
    pointer-events: none;

    clip-path: url("/styles/header-clips.svg#headerNavItemClip");
    -webkit-clip-path: url("/styles/header-clips.svg#headerNavItemClip");
    clip-path: polygon(50% 0%, 95% 0, 100% 65%, 50% 100%, 0 65%, 5% 0);
    -webkit-clip-path: polygon(50% 0%, 95% 0, 100% 65%, 50% 100%, 0 65%, 5% 0);
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item>a {
    width: 100%;
    height: 100%;

    size: 0.6rem;
    padding-left: 4px;
    /* font-weight: bold; */

    margin-top: 5px;

    text-decoration: none;
}

.dropdown-item>a::before {
    content: ' ';
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#dark.darkB::before {
    background: #2a2e35;
}

#dark.lightB::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}


.header-image-container {
    width: 10rem;
    height: 10rem;

    clip-path: url("/styles/header-clips.svg#headerImageClip");
    -webkit-clip-path: url("/styles/header-clips.svg#headerImageClip");
    clip-path: polygon(50% 0%, 95% 0, 100% 65%, 50% 100%, 0 65%, 5% 0);
    -webkit-clip-path: polygon(50% 0%, 95% 0, 100% 65%, 50% 100%, 0 65%, 5% 0);

    background-color: var(--tp-bg);
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding-top: 5px; */

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-image-container img {
    margin-top: 0rem;
    width: 8rem;
    height: 8rem;
}


@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}


.header-image-container:hover {
    animation: color-rotate 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.site-title {
    position: absolute;
    left: 0;
    top: 0;

    /* font-size: 1.5rem; */
    font-size: 18pt;
    font-weight: 800;
    /* font-style: italic; */


    margin: 40px 0 0 2rem;
    transform: translateY(-51%);

    /* margin: 1.55rem 0 0 1rem; */
    /* padding-top: 0px; */

}

.site-title a:hover {
    text-decoration: none;
    cursor: zoom-in;
}
